body{

}

.basefooter{
  padding-top: 1rem;
  margin-top: 3.5rem;
}

 #scrolltest{
   position: relative;
   height: 20rem;
   overflow-y: scroll;
 }



 #lecture_info_card{
   height: 20rem;
   border-bottom-left-radius: 2.5rem;
   border-bottom-right-radius: 2.5rem;
 }

 .card-body{
   border-top-left-radius: 1rem;
 }

 #btn_enter_lecture{
   position: absolute;
   bottom: 1.5rem;
   left: 1.6rem;
 }

.jumbotron{
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8),rgba(255, 252, 181, 0.8)), url(../img/basebg.jpg);
}

.img-thumbnail{
  height: 90%;
  width: 80%;
  padding: 1rem;
  border-radius: 2rem;
  animation: desaturate 0.75s;
  filter: grayscale(65%);

}

.img-thumbnail:hover{
  cursor: pointer;
  animation: saturate 0.35s;
  filter: grayscale(0%);
}
.btn-lg{
  width: 100%;
  border-radius: 1rem;
}

@keyframes saturate{
  0% {
    filter: grayscale(65%);

  }

  100% {
    filter: grayscale(0%);

  }
}
@keyframes desaturate{
  0% {
    filter: grayscale(0%);
  }

  100% {
    filter: grayscale(65%);
  }
}
