{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
  			  src="https://code.jquery.com/jquery-3.3.1.js"
  			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>Plenituts</title>
  </head>

  <body>
    <nav id="base_navbar" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'indexroot' %}">
         <img src="{% static 'img/ossan.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> <b>Plenituts</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unidades
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'index_selected_unit' id=1 %}">Basica 1</a>
              <a class="dropdown-item" href="{% url 'index_selected_unit' id=2 %}">Basica 2</a>
              <a class="dropdown-item" href="{% url 'index_selected_unit' id=3 %}">Basica 3</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Temas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'index_selected_type' id=1 %}">Correo Gmail</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=2 %}">Explorador de Internet</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=3 %}">Windows</a>
              <hr>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=4 %}">Facebook</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=5 %}">Youtube</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=6 %}">Microsoft Office</a>
              <hr>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=7 %}">Equipo de Computo</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=8 %}">Juegos</a>
              <a class="dropdown-item" href="{% url 'index_selected_type' id=9 %}">Paint</a>
            </div>
          </li>


        </ul>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'signout_user' %}">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="card-footer basefooter">
      <div class="row">
        <div class="col-sm-12"> <div class="float-right">Fundacion Adultos en Plenituts 	&reg;</div> </div>

      </div>
    </div>

  </body>

</html>
