{% extends 'pleniapp/base.html' %}

{% block content %}
<br> <div id="spacing"></div>
{% include 'pleniapp/__unit_group.html' %}

  <div class="container-fluid">
    <div class="card" id="details_youtube_card">
      <div class="card-body" >
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ytlink}}"  allowFullScreen>
        </iframe>
      </div>
    </div>
  </div>
  <br> <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" id="details_description_card">
          <div class="card-header" id="details_card_header">Lección {{lecture.lecture_index_number}}</div>
          <div class="card-body">
            <h5 class="card-title" id="card_title">{{lecture.title}}</h5>
            <p class="card-text" id="card_paragraph">{{lecture.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> <br> <br>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 id="heading_comentarios">Preguntas & Respuestas</h1>
          <div class="card" id="comment_section_card">
            <div class="card-body">
              <h3>Escribe tu pregunta:</h3>
              <div class="input-group" style="height:10rem;">
                <textarea id="question_textarea" class="form-control" aria-label="With textarea"></textarea>
                <div class="input-group-append">
                  <button class="btn btn-outline-info type="button" id="send_question"><div class="fas fa-paper-plane""></div></button>
                </div>
              </div>
              <hr>
              {% for comment in comments %}
                <div class="card comment-card" id="details_description_card">
                  <div class="card-header" id="details_card_header">by {{comment.username}}<div class="float-right">{{comment.date}}</div></div>
                  <div class="card-body">
                    <p class="card-text" id="card_paragraph">{{comment.body}}</p>
                  </div>
                  </div><div style="height:1.5rem;">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container-fluid" id="details_buttons_container">
      <div class="row">
        <div class="col-sm-3">
          <a id="btn_prev_lec" href="{% url 'details' id=prev_lec %}" class="btn btn-info details-buttons details-buttons-left"><div class="fas fa-chevron-circle-left"></div> Lección Anterior</a>
        </div>
        <div class="col-sm-3">
          <a href="{% url 'index_selected_unit' id=unit_index %}" class="btn btn-info details-buttons">Indice de Unidad</a>
        </div>
        <div class="col-sm-3">
          <a  href="{% url 'index_selected_type' id=lecture_type_index %}" class="btn btn-info details-buttons">Indice de Tema</a>
        </div>
        <div class="col-sm-3">
          <a id="btn_next_lec" href="{% url 'details' id=next_lec %}" class="btn btn-info details-buttons details-buttons-right">Siguiente Lección <div class="fas fa-chevron-circle-right"></div></a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var prev_lec = document.getElementById('btn_prev_lec');
      var next_lec = document.getElementById('btn_next_lec');
      if ({{prev_lec}} == 0) {
        prev_lec.classList.remove("btn-info");
        prev_lec.classList.add("disabled");
        prev_lec.classList.add("btn-secondary");
      }
      if ({{next_lec}} == 0) {
        next_lec.classList.remove("btn-info");
        next_lec.classList.add("disabled");
        next_lec.classList.add("btn-secondary");
      }

    $(document).on('click', '#send_question', function(e){
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url 'user_submit_comment' %}',
        data:{
          comment: $('#question_textarea').val(),
          lecture_id: {{lecture.id}},
        },
        success: function(data){
          document.location.reload(true);
        }
      })
    });

    </script>



{% endblock %}
