{% extends 'pleniapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-center bg-default">
        <div class="container">
          <h1>Adultos en Plenituts</h1>
          <p>Somos un sitio web enfocados en los adultos mayores, eso es muy bueno por qué tenemos mucha información para mejorar la calidad de vida de nuestros abuelos o personas mayores, para conocer más sobre esta etapa de la vida les presentamos un curso donde se les podrá brindar información valiosa que les ayudará a seguir adelante en una vida llena de tecnología para que tenga la información y comunicación al instante.</p>
          <a id="begin_anchor" href="{% url 'index_selected_unit' id=1 %}" class="btn btn-dark ">Comenzar</a>
          <div id="jumbotronbg_area">

          </div>
        </div>
  </div>


{% include 'pleniapp/__unit_group.html' %}

  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/gmail.png' %}" class="img-thumbnail">
        <label class="imglabel" >Correo Gmail</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/chrome.png' %}" class="img-thumbnail">
        <label class="imglabel" >Explorador de Internet</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/win.png' %}" class="img-thumbnail">
        <label class="imglabel" >Windows</label>
      </div>
    </div>
    <div class="row">
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/fb.png' %}" class="img-thumbnail">
        <label class="imglabel" >Facebook</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/yt.png' %}" class="img-thumbnail">
        <label class="imglabel" >Youtube</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/office.png' %}" class="img-thumbnail">
        <label class="imglabel" >Microsoft Office</label>
      </div>
    </div>
    <div class="row">
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/hw.png' %}" class="img-thumbnail">
        <label class="imglabel" >Equipo de Computo</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/solitary.png' %}" class="img-thumbnail">
        <label class="imglabel" >Juegos</label>
      </div>
      <div class="imgparent col-sm-4">
        <img src="{% static 'img/paint.png' %}" class="img-thumbnail">
        <label class="imglabel" >Paint</label>
      </div>
    </div>
  </div> <br>
{% endblock %}
