{% extends 'pleniapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-center bg-default">
        <div class="container">
          <h1>Unidad Basica #{{unit}}</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Requescate en Pace.</p>
          <a href="#" class="btn btn-dark ">Iniciar Unidad</a>
        </div>
  </div>

  {% include 'pleniapp/__unit_group.html' %}

  <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-9">
        <div class="card" id="lecture_info_card">
          <div class="card-header" id="card_header"><!-- Lecture number --></div>
          <div class="card-body">
            <h5 class="card-title" id="card_title"><!-- Lecture title --> </h5>
            <p class="card-text" id="card_paragraph"><!-- Lecture description --></p>
            <a id="btn_enter_lecture" href="" class="btn btn-primary">Go somewhere</a>

          </div>
        </div>
      </div>
      <nav class="col-sm-3" id="scrolltest" >
        <ul class="nav nav-pills flex-column">

          {% for lecture in lectures %}
          <li class="nav-item">
            <a class="nav-link cleanup-c" id="{{ lecture.navlinkid }}" href>Lección {{lecture.lecture_index_number}}</a>
          </li>
          {% endfor %}

        </ul>
      </nav>
    </div>
  </div>


  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
          {% for lecture in lectures %}
            <a class="btn btn-outline-info" href="{% url 'details' id=lecture.id %}">{{lecture.title}}</a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    var card_header = document.getElementById('card_header');
    var card_title = document.getElementById('card_title');
    var card_paragraph = document.getElementById('card_paragraph');
    var btn_enter_lecture = document.getElementById('btn_enter_lecture');
    var all_navlinks = document.querySelectorAll(".cleanup-c");


    window.onload= function(){
      {{navlinkid_list.0}}.classList.add("active");
      card_title.innerHTML = "{{ lectures.0.title }}";
      card_header.innerHTML = "Lección " + "{{ lectures.0.lecture_index_number }}";
      card_paragraph.innerHTML = "{{ lectures.0.description }}";
      btn_enter_lecture.innerHTML = "Iniciar Lección " + "{{lectures.0.lecture_index_number}}";
      btn_enter_lecture.href = "{% url 'details' id=lectures.0.id %}";
    }

    function clean_navlinks(){
      for (var i = 0; i < all_navlinks.length; i++) {
        all_navlinks[i].classList.remove("active");
      }
    }

    function navlink_focus(p_navlinkid){
      clean_navlinks()
      p_navlinkid.classList.add("active");
      var lecture_ind_num = p_navlinkid.id.replace('navlink_','');;

      {% for lecture in lectures %}
        if( {{lecture.lecture_index_number }} == lecture_ind_num ){
          card_title.innerHTML = "{{ lecture.title }}";
          card_header.innerHTML = "Leccion " + "{{ lecture.lecture_index_number }}"
          card_paragraph.innerHTML = "{{ lecture.description }}"
          btn_enter_lecture.innerHTML = "Iniciar Lección " + "{{lecture.lecture_index_number}}";
          btn_enter_lecture.href = "{% url 'details' id=lecture.id %}";
        }
      {% endfor %}
    }

    {% for navlinkid in navlinkid_list %}
      {{ navlinkid }}.addEventListener('click', function(event){
        event.preventDefault();
        navlink_focus({{navlinkid}})
      });
    {% endfor %}

  </script>


{% endblock %}
