{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/b077a438c4.js"></script>
    <link rel="stylesheet" href="{% static "css/sign_in_admin.css" %}">
    <title>Plenituts {{foo}}</title>
  </head>

  <body>

    <div class="float-center" id="head-title">
      <h1>Plenituts <span style="font-size:1.5rem" class="badge badge-secondary">Docente</span></h1>
    </div> <br>
    <p align="center"><img id="ossanimg" src="{% static 'img/ossan.png' %}" height="10%" width="10%"></p>
    <div class="container-fluid">
      <div class="row">
        <div id="register_msg" class="col-sm-12" align="center" hidden>
            <h2>Registro exitoso! Ahora puedes ingresar al sistema!</h2>
        </div>
      </div>
    </div>
    <div class="container" >
      <form id="signin_form">
        <div class="sign-in" id="signIn" style="border-top-left-radius:2rem; border-bottom-left-radius:2rem; ">
          <div class="visible" id="signIn-visible">
            <i class="fa fa-sign-in fa-3x" aria-hidden="true" style="color:#0f0f0f;"></i>
            <h4 class="sign-in-text" style="color: #0f0f0f;">Iniciar Sesión</h4>
          </div>
          <div class="hidden" id="signIn-hidden">
            <h1 class="sign-in-header" style="color:#0f0f0f;">INICIAR SESIÓN</h1>
            <div class="signIn-section">
              <input id="signin_username" type="text" type="text" class="name sign-in-input" placeholder="   Usuario"/>
              <input id="signin_password" type="password" class="pass sign-in-input" placeholder="   Contraseña"/>
              <div class="social-links" style="border-color: lightgrey;"><div id="signin_error_msg" hidden>Ingrese sus datos en ambos campos.</div></div>

              <button id="signin_btn" class="sign-in-button send" style="background: #0f0f0f;">
                <i class="fa fa-arrow-right fa-2x" aria-hidden="true" style="color: rgb(255, 255, 255)"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
      <form id="register_form">
        <div class="sign-up" id="signUp" style="border-top-right-radius:2rem; border-bottom-right-radius:2rem; ">
          <div class="visible" id="signUp-visible">
            <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
            <h4 class="sign-up-text">Registrar</h4>
          </div>
          <div class="hidden" id="signUp-hidden">
            <h1 class="sign-up-header">REGISTRAR</h1>
            <div class="signUp-section">
              <input id="register_username" type="text" placeholder="   Usuario" class="sign-up-input name"/>
              <input id="register_password"  type="password" placeholder="   Contraseña" class="sign-up-input pass"/>
              <div id="reg_error_msg" hidden style="color:white;">Ingrese sus datos en ambos campos.</div>
              <button id="register_btn"  class="sign-up-button send" style="background: rgb(255, 255, 255);">
              <i class="fa fa-arrow-right fa-2x" aria-hidden="true" style="color: #0f0f0f;"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer basefooter">
      <div class="row">
        <div class="col-sm-12"> <div class="float-right">Fundacion Adultos en Plenituts 	&reg;</div> </div>
      </div>
    </div>

    <script type="text/javascript">
    document.getElementById('register_username').value = "";
    document.getElementById('register_password').value = "";
    document.getElementById('signin_username').value = "";
    document.getElementById('signin_password').value = "";

    var register_msg = document.getElementById('register_msg');
    $(document).on('click', '#register_btn', function(e){
      document.getElementById('reg_error_msg').hidden = true;
      e.preventDefault();
      var usr = document.getElementById('register_username').value
      var pwd = document.getElementById('register_password').value

      if (usr=="" || pwd=="") {
        document.getElementById('reg_error_msg').hidden = false;
      }
      else{
        $.ajax({
          type: 'POST',
          url: '{% url 'register_user_admin' %}',
          data:{
            username: $('#register_username').val(),
            password: $('#register_password').val(),
          },
          success: function(){
            document.getElementById('register_username').value = "";
            document.getElementById('register_password').value = "";
            document.getElementById('signin_username').value = "";
            document.getElementById('signin_password').value = "";
            signIn.style.width = '500px';
            signUp.style.width = '100px';
            signInVisible.className = 'hidden';
            signInHidden.className = 'hidden-animation';

            //Need to add if statement to check of other visible/hidden has already been clicked.
            if(signUpVisible.classList.contains('hidden')){
              signUpHidden.className = 'hidden';
              signUpVisible.className = 'visible hidden-animation';
            }
            register_msg.hidden = false;
          }
        })
      }

    });

    $(document).on('click', '#signin_btn', function(e){
      document.getElementById('signin_error_msg').hidden = true;
      e.preventDefault();
      var usr = document.getElementById('signin_username').value
      var pwd = document.getElementById('signin_password').value

      if (usr=="" || pwd=="") {
        document.getElementById('signin_error_msg').hidden = false;
      }
      else{

        $.ajax({
          type: 'POST',
          url: '{% url 'signin_user_admin' %}',
          data:{
            username: $('#signin_username').val(),
            password: $('#signin_password').val(),
          },
          success: function(data){
            if (data.username == "no_match") {
              alert("Este usuario o contraseña no existen!")
            }
            else {
              window.location.href="{% url 'index_admin' %}";
            }

  
          }
        })
      }

    });



      var signIn = document.getElementById('signIn');
      var signUp = document.getElementById('signUp');
      var signUpVisible = document.getElementById("signUp-visible");
      var signUpHidden = document.getElementById("signUp-hidden");
      var signInVisible = document.getElementById("signIn-visible");
      var signInHidden = document.getElementById("signIn-hidden");

      signIn.onclick = function(){
        signIn.style.width = '500px';
        signUp.style.width = '100px';
        signInVisible.className = 'hidden';
        signInHidden.className = 'hidden-animation';

        //Need to add if statement to check of other visible/hidden has already been clicked.
        if(signUpVisible.classList.contains('hidden')){
          signUpHidden.className = 'hidden';
          signUpVisible.className = 'visible hidden-animation';
        }
      }
      signUp.onclick = function(){
        signIn.style.width = '100px';
        signUp.style.width = '500px';
        signUpVisible.className = 'hidden';
        signUpHidden.className = 'visible hidden-animation';

        //Need to add if statement to check of other visible/hidden has already been clicked.
        if(signInVisible.classList.contains('hidden')){
          signInHidden.className = 'hidden';
          signInVisible.className = 'visible hidden-animation';
        }
      }
    </script>

  </body>

</html>
